@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #41B3A3;
}

h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 90rem;
    margin: 0 auto;
    padding: 5rem;
}

.content-position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    font-size: 2rem;
    padding: 2rem 0;
    margin-bottom: 1rem;
    width: 40rem;
    text-decoration: none;
    color: #000;
    background-color: #E8A87C;
    border: .2rem solid #000;
    border-radius: .5rem;
}

.btn:hover {
    cursor: pointer;
    color: #000;
    background-color: #E27D60;
}

/* How to play */

.how-to-play-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90rem;
    margin: 0 auto;
    padding: 5rem;
}

#instructions {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

#instructions li {
    padding: .5rem;
    text-align: left;
}

/* game */

#statistics {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 60rem;
}

.answer {
    font-size: 2rem;
    padding: 2rem 0;
    width: 30rem;
    height: 4.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    text-decoration: none;
    background-color: #E8A87C;
    border: .2rem solid #000;
    border-radius: .5rem;
}